<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/homeStyle.css">

    <script src="https://kit.fontawesome.com/40a85485d4.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="outercontainer">
        <div class="splitleft">
            <img style="position: relative;width:100%;height:100%;"
                src="https://icon-library.com/images/twitter-logo-icon-png/twitter-logo-icon-png-10.jpg" alt="">
            <!--<img style="position: relative;width:100%;height:100%;overflow: hidden;" src="https://thumbs.dreamstime.com/z/icon-twitter-logo-vector-watercolor-social-media-icon-twitter-logo-vector-watercolor-social-media-illustration-121915068.jpg" alt="">-->
        </div>
        <div class="splitright">
            <div id="icon" style="position: relative;width:100%;height:20%">
                <img style="position: relative;width:14%;height: 85%;margin-left: 5%;border-radius: 100%;"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyr058kmJ9mzBDDkRlLTr-HSYCoJkA0DHG9w&usqp=CAU"
                    alt="">

            </div>
            <div class="content" style="margin-left: 5%;width: 90%;">
                <h1><b style="font-size: 66px;">Happening now</b></h1>
                <br>
                <h4><b style="font-size: 32px;">Join Twitter today.</b></h4>
                <div id="btnbox">
                    <a href="/auth/google"><button type="button" id="btn1"><b style="font-size: 14px;"><i style="color: #bd1100;
                        font-size: larger;" class="fa-brands fa-google"></i> Sign up with Google</b></button></a>
                    <a href=""></a><button type="button" id="btn2"><b style="font-size: 14px;"><i style="font-size: large;"
                        class="fa-brands fa-apple"></i> Sign up with Apple</b></button></a>
                    <div style="text-align: center;position: relative;">
                        <hr style="top: -3px;
                        position: relative;width: 47%;float: left;">or
                        <hr style="top: -3px;
                        position: relative;width: 47%;float:right;">
                    </div>
                    <button type="button" id="btn3"><b style="font-size: 14px;
                        color: white;">Sign up with phone or email</b></button>
                    <p id="p1" style="font-size: 11px; font-family: sans-serif;">By signing up, you agree to the <a
                            style="color:  #00a1ff;padding-right: 0px;" href="https://twitter.com/en/tos"
                            target="_blank">Terms of Service</a> and <a style="color:  #00a1ff;padding-right: 0px;"
                            href="https://twitter.com/en/privacy" target="_blank">Privacy Policy</a>, including <a
                            style="color:  #00a1ff;padding-right: 0px;"
                            href="https://help.twitter.com/en/rules-and-policies/twitter-cookies" target="_blank">Cookie
                            Use.</a> </p>
                    <br>
                    <br>
                    <h6><b>Already have an account?</b></h6>
                    <a href=""><button type="button" id="btn4"><b style="font-size: 14px;color: blue;">Sign in</b></button></a>
                </div>
            </div>
        </div>
        <footer id="footer">
            <nav>
                <a href="https://about.twitter.com/en" target="_blank" rel="noopener noreferrer"><span>About</span></a>
                <a href="https://help.twitter.com/en" target="_blank" rel="noopener noreferrer"><span>Help Center</span></a>
                <a href="https://twitter.com/en/tos" target="_blank" rel="noopener noreferrer"><span>Terms of Service</span></a>
                <a href="https://twitter.com/en/privacy" target="_blank" rel="noopener noreferrer"><span>Privacy Policy</span></a>
                <a href="https://help.twitter.com/en/rules-and-policies/twitter-cookies" target="_blank" rel="noopener noreferrer"><span>Cookie Policy</span></a>
                <a href="https://help.twitter.com/en/resources/accessibility" target="_blank" rel="noopener noreferrer"><span>Accessibility</span></a>
                <a href="https://business.twitter.com/en/help/troubleshooting/how-twitter-ads-work.html?ref=web-twc-ao-gbl-adsinfo&utm_source=twc&utm_medium=web&utm_campaign=ao&utm_content=adsinfo" target="_blank" rel="noopener noreferrer"><span>Ads Info</span></a>
                <a href="https://blog.twitter.com/" target="_blank" rel="noopener noreferrer"><span>Blog</span></a>
                <a href="https://status.twitterstat.us/" target="_blank" rel="noopener noreferrer"><span>Status</span></a>
                <a href="https://careers.twitter.com/" target="_blank" rel="noopener noreferrer"><span>Careers</span></a>
                <a href="https://about.twitter.com/en/who-we-are/brand-toolkit" target="_blank" rel="noopener noreferrer"><span>Brand Resources</span></a>
                <a href="https://ads.twitter.com/login?ref=gl-tw-tw-twitter-advertise" target="_blank" rel="noopener noreferrer"><span>Advertising</span></a>
                <a href="https://marketing.twitter.com/en" target="_blank" rel="noopener noreferrer"><span>Marketing</span></a>
                <a href="https://business.twitter.com/?ref=web-twc-ao-gbl-twitterforbusiness&utm_source=twc&utm_medium=web&utm_campaign=ao&utm_content=twitterforbusiness" target="_blank" rel="noopener noreferrer"><span>Twitter for Business</span></a>
                <a href="https://developer.twitter.com/en" target="_blank" rel="noopener noreferrer"><span>Developers</span></a>
                <a href="https://twitter.com/i/directory/profiles" target="_blank" rel="noopener noreferrer"><span>Directory</span></a>
                <a href="https://twitter.com/settings/account/personalization" rel="noopener noreferrer"><span>Settings</span></a>
                <span>© 2022 Rajan Jha</span>
            </nav>
        </footer>
    </div>
</body>

</html>
